<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.dao.XssTableMapper">
	<select id="getAllList" resultType="com.cn.po.XssTable">
		select * from xsstable
	</select>
	
	<select id="getAllListByName" resultType="com.cn.po.XssTable">
		select * from xsstable where name = '${name}'
	</select>
	
	<select id="getUsersByName" resultType="com.cn.po.XssTable">
		select * from xsstable where name like CONCAT('%',#{name},'%')
	</select>
	
	<insert id="save" parameterType="com.cn.po.XssTable" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert xsstable(name,createDate) values('<![CDATA[${name}]]>',#{createDate})
	</insert>
	
	
	<select id="getAllListById" resultType="com.cn.po.XssTable">
		select * from xsstable where id = #{id}
	</select>
</mapper>